{% extends "layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2>PaperShare</h2>
<p>A detailed description of the proccess.</p>
<br />
<div class="row">
    <div class="col-md-4">
        <h3>Give away course materials!</h3>
        <p>
            PaperShare allows you to find students who would happilly recieve your course books, printed papers or any other printed material you're done with. You can also search the inventory for avalable give aways you may need yourself.
        </p>
        <img src="/static/img/airplane.png" alt="airplane" class="center" style="width:200px;height:128px;">
    </div>
    <div class="col-md-4">
        <h3>Save our planet</h3>
        <p>
            By sharing our materials, we reduce the amount we print, save papers and save trees. Together, we share paper and save the earth!
        </p>
        <br />
        <br />
        <img src="/static/img/oak.png" alt="tree" class="center" style="width:128px;height:128px;">
    </div>
    <div class="col-md-4">
        <h3>Save money $$$</h3>
        <p>
            Material is given away and recieved for free on our platform. relieving the cost of printing.
        </p>
        <br />
        <br />
        <br />
        <img src="/static/img/dollarIcon.png" alt="dollar icon" class="center" style="width:100px;height:128px;">
    </div>
</div>
{% endblock %}