<!---

    HOW_TO PAGE

    -->


{% extends "layout.html" %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/faviconit/ps-favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/static/img/faviconit/ps-favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/img/faviconit/ps-favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/img/faviconit/ps-favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/faviconit/ps-favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/img/faviconit/ps-favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/faviconit/ps-favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/faviconit/ps-favicon-16.png">
    <link rel="apple-touch-icon" href="/static/img/faviconit/ps-favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/faviconit/ps-favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/faviconit/ps-favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/faviconit/ps-favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/faviconit/ps-favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/faviconit/ps-favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/faviconit/ps-favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/faviconit/ps-favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/faviconit/ps-favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/img/faviconit/ps-favicon-144.png">
    <meta name="msapplication-config" content="/static/img/faviconit/browserconfig.xml">
</head>
<div class="container">
    <!--Detailed explenation of the PS idea and proccess-->
    <h2 class="text-right">?איך זה עובד</h2>
    <h3 class="text-right">מסירת חומרי לימוד מודפסים</h3>
    <p class="text-right">.בחרו בלשונית 'מסירת חומרי לימוד' הזינו את שם הפקולטה, שם הקורס ותיאור קצר של החומר אותו אתם מוסרים</p>
    <p class="text-right">.לאחר לחיצה על כפתור שלח, המסירה שלכם תפורסם באתר וסטודנטים המעונינים בחומר הלימוד יפנו אליכם במייל</p>
    <p class="text-right">.את כל הפריטים אותם מסרתם ניתן לראות בלשונית 'המסירות שלי'. ניתן להסיר את הפרטים מהאתר בכל עת</p>
    <br />
    <h3 class="text-right">.חיפוש חומרי לימוד</h3>
    <p class="text-right">.בחרו בלשונית 'חיפוש חומרי לימוד' הזינו את שם הפקולטה ושם הקורס. לחצו על כפתור 'חיפוש' וצפו בתוצאות</p>
    <p class="text-right">.אם מצאתם חומר למסירה שמעניין אתכם, פנו לכתובת המייל של הסטודנט המוסר וצרו איתו\ה קשר</p>
    <br />


    <!--Row of 3 pillars-->
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-right">מסרו את חומרי הלימוד שהדפסתם</h3>
            <p class="text-right">
                כאן תוכלו למצוא סטודנטים שישמחו לקבל מכם חומרי לימוד אקדמיים שהדפסתם. במקום לזרוק ספרים ומבחנים, מסרו אותם לסטודנט שיעשה בהם עוד שימוש
            </p>
            <br />
            <img src="/static/img/airplane.png" alt="airplane" class="center img-how-to" style="width:200px;height:128px;">
        </div>
        <div class="col-md-4">
            <h3 class="text-right">שמרו על הסביבה</h3>
            <p class="text-right">
                השימוש החוזר בחומרי הלימוד יחסוך הדפסות נוספות. כך, נוכל לחסוך בנייר ולשמור יחד על הסביבה
            </p>
            <br />
            <br />
            <img src="/static/img/oak.png" alt="tree" class="center img-how-to" style="width:128px;height:128px;">
        </div>
        <div class="col-md-4">
            <h3 class="text-right">חסכו כסף $$$</h3>
            <p class="text-right">
                המסירות באתר הן ללא תשלום. במקום לשלם על הדפסות חדשות, קבלו חומרים משומשים בחינם וחסכו בעלויות
            </p>
            <br />
            <br />
            <img src="/static/img/dollarIcon.png" alt="dollar icon" class="center img-how-to" style="width:100px;height:128px;">
        </div>
    </div>


    <!--Back (history -1) button-->
    <br />
    <div>
        <button onclick="goBack()" class="btn btn-ps pull-right"> חזרה לאתר <span class="glyphicon glyphicon-home"></span> </button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</div>
<br />


{% endblock %}
