{% extends "layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 class="text-right">?איך זה עובד</h2>
<p class="text-right">תיאור של תהליך המסירה והקבלה</p>
<br />
<div class="row">
    <div class="col-md-4">
        <h3 class="text-right">מסרו את חומרי הלימוד שהדפסתם</h3>
        <p class="text-right">
            כאן תוכלו למצוא סטודנטים שישמחו לקבל מכם חומרי לימוד אקדמיים שהדפסתם. במקום לזרוק ספרים ומבחנים, מסרו אותם לסטודנט שיעשה בהם עוד שימוש
        </p>
        <br />
        <img src="/static/img/airplane.png" alt="airplane" class="center" style="width:200px;height:128px;">
    </div>
    <div class="col-md-4">
        <h3 class="text-right">שמרו על הסביבה</h3>
        <p class="text-right">
            השימוש החוזר בחומרי הלימוד יחסוך הדפסות נוספות. כך, נוכל לחסוך בנייר ולשמור יחד על הסביבה
        </p>
        <br />
        <br />
        <img src="/static/img/oak.png" alt="tree" class="center" style="width:128px;height:128px;">
    </div>
    <div class="col-md-4">
        <h3 class="text-right">חסכו כסף $$$</h3>
        <p class="text-right">
            המסירות באתר הן ללא תשלום. במקום לשלם על הדפסות חדשות, קבלו חומרים משומשים בחינם וחסכו בעלויות
        </p>
        <br />
        <br />
        <img src="/static/img/dollarIcon.png" alt="dollar icon" class="center" style="width:100px;height:128px;">
    </div>
</div>
<br />
<div>

    <button type="submit" class="btn btn-success pull-right"><a href="/">חזרה לאתר</a> </button>
</div>
<br />

{% endblock %}