<!---

    HOW_TO PAGE

    -->


{% extends "layout.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <!--Detailed chart of the PS idea and proccess-->
    <h2 class="text-right">?איך זה עובד</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="/static/img/giveaway.png" alt="giveaway" class="center img-how-to" style="width:80%;height:80%;">
        </div>
        <div class="col-md-6">
            <img src="/static/img/takeaway.png" alt="takeaway" class="center img-how-to" style="width:80%;height:80%;">
        </div>
    </div>

    <!--Paper airplanes flying across-->
    <div class="bird-container bird-container--one" style="top:15%">
        <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two" style="top:25%">
        <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three" style="top:35%">
        <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four" style="top:45%">
        <div class="bird bird--four"></div>
    </div>


    <!--Row of 3 pillars-->
    <div class="row">

        <div class="col-md-4">
            <h3 class="text-right">שמרו על הסביבה</h3>
            <p class="text-right">
                השימוש החוזר בחומרי הלימוד יחסוך הדפסות נוספות. כך, נוכל לחסוך בנייר ולשמור יחד על הסביבה
            </p>
            <br />
            <br />
            <img src="/static/img/oak.png" alt="tree" class="center img-how-to" style="width:128px;height:128px;">
        </div>

        <div class="col-md-4">
            <h3 class="text-right">מסרו את חומרי הלימוד שהדפסתם</h3>
            <p class="text-right">
                כאן תוכלו למצוא סטודנטים שישמחו לקבל מכם חומרי לימוד אקדמיים שהדפסתם. במקום לזרוק ספרים ומבחנים, מסרו אותם לסטודנט שיעשה בהם עוד שימוש
            </p>
            <br />
            <img src="/static/img/airplane.png" alt="airplane" class="center img-how-to" style="width:200px;height:128px;">
        </div>

        <div class="col-md-4">
            <h3 class="text-right">חסכו כסף $$$</h3>
            <p class="text-right">
                המסירות באתר הן ללא תשלום. במקום לשלם על הדפסות חדשות, קבלו חומרים משומשים בחינם וחסכו בעלויות
            </p>
            <br />
            <br />
            <img src="/static/img/dollarIcon.png" alt="dollar icon" class="center img-how-to" style="width:100px;height:128px;">
        </div>
    </div>


    <!--Back (history -1) button-->
    <br />
    <div>
        <button onclick="goBack()" class="btn btn-ps pull-right"> חזרה לאתר <span class="glyphicon glyphicon-home"></span> </button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</div>
<br />


{% endblock %}
