{% extends "layout.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        overflow: hidden;
    }

    input {
        float: right;
        clear: both;
    }
</style>


<div class="jumbotron">
    <img src="/static/img/psbannergrey.png" alt="PaperShare" class="center" style="width:750px;height:128px;">
    <!-- <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
    <br />
    <p class="lead text-right">!פפיפר-שייר הוא המקום למסור חומרי לימוד או לקבל חומרי לימוד מסטודנט שסיים\מה להשתמש בהם</p>
</div>

<div class="row">
    <h2 class="text-right">התחבר\י עם כתובת מייל אוניברסיטאית</h2>
    <p class="text-right">אין צורך ברישום</p>
    <form action="{{ url_for('ask') }}">
        <div class="form-group text-right">
            <label for="email">:כתובת מייל אוניברסיטאית </label>
            <br />
            <input type="email" class="form-control" id="email">
            <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-log-in"></span> כניסה</button>
        </div>

        <br />
        <br />
        <div class="checkbox pull-right">
            <label><input type="checkbox">Remember me</label>
        </div>
        <br />

    </form>

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/img/car1.PNG" alt="Give away materials">
        </div>

        <div class="item">
            <img src="/static/img/car2.PNG" alt="Save the planet">
        </div>

        <div class="item">
            <img src="/static/img/car3.PNG" alt="Save money $">
        </div>
    </div>


</div>

    {% endblock %}
