
<!---
  INDEX PAGE (LOGIN)
  -->
{% extends "layout.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- big banner of PS logo and introduction text-->
<div class="jumbotron">
    <div class="container">
        <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
        </div>

        <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
        </div>

        <div class="bird-container bird-container--three">
            <div class="bird bird--three"></div>
        </div>

        <div class="bird-container bird-container--four">
            <div class="bird bird--four"></div>
        </div>
        <img src="/static/img/psbannergrey.png" alt="PaperShare" class="center imgban">
        <br />
        <p class="lead text-center" style="font-size:90%"> המקום למסור ולקבל חומרי לימוד </p>
    </div>
</div>


<!--Input bar to give University email. ENTER button-->
<div class="container">
    <div class="row">
        <h2 class="text-right">התחבר\י עם כתובת מייל אוניברסיטאית</h2>
        <p class="text-right">אין צורך ברישום</p>

        <form name="login" action="." method="POST">
            <div class="form-group text-right">
                <br />
                <div class="container">
                    <div class="row">
                        {% if email %}
                        <input type="email" class="form-control" id="email" name="email" value={{ email }} required oninvalid="this.setCustomValidity('הכנס כתובת מייל לצורך כניסה למערכת')" oninput="this.setCustomValidity('')" onchange="this.setCustomValidity('')">
                        {% else %}
                        <input type="email" class="form-control" id="email" name="email" placeholder="הכנס\י כתובת מייל אוניברסיטאית" required oninvalid="this.setCustomValidity('הכנס כתובת מייל לצורך כניסה למערכת')" oninput="this.setCustomValidity('')">
                        {% endif %}
                        <button type="submit" class="btn btn-ps"> כניסה </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    {% if not_exist %}

    <div class="well well-sm text-right" style="background-color: #cc3359; color:white">
        <span class="closebtn" dir="rtl" onclick="this.parentElement.style.display = 'none';">&times;</span>
        כתובת מייל לא נכונה. אנא הכנס\י כתובת מייל קיימת בלבד
    </div>
    {% endif %}
    {% if debug_mode %}
    <div class="well well-sm text-right" style="background-color: #cc3359; color:white">
        <span class="closebtn" dir="rtl" onclick="this.parentElement.style.display = 'none';">&times;</span>
        מצטערים, האתר בבנייה!
    </div>
    {% endif %}
    {% if not_uni %}
    <div class="well well-sm text-right" style="background-color: #cc3359; color:white">
        <span class="closebtn" dir="rtl" onclick="this.parentElement.style.display = 'none';">&times;</span>
        הכניסה באמצעות כתובת מייל אוניברסיטאית בלבד
    </div>
    {% endif %}






    <!--
        <button data-toggle="collapse" data-target="#supported" class="btn btn-ps pull-right"><span class="fas fa-school"></span> מוסדות נתמכים</button>
        <div id="supported" class="collapse text-right pull-right">
        הטכניון,
        אוניברסיטאת ת״א
        </div>
    -->
    <!--Supported schools-->
    <div class="dropdown pull-right">
        <button class="btn btn-ps dropdown-toggle" type="button" data-toggle="dropdown"> מוסדות נתמכים <span class="fas fa-school"></span></button>
        <ul class="dropdown-menu pull-right">
            <li class="disabled"><a class="text-right">אונ׳ ת״א <img src="/static/img/tau.jpg" style="width:20px; height:20px"></a></li>
            <li class="disabled"><a class="text-right">האונ' העברית <img src="/static/img/huji.jpg" style="width:20px; height:20px"></a></li>
            <li class="disabled"><a class="text-right">הטכניון <img src="/static/img/technion.jpg" style="width:20px; height:20px"></a></li>
        </ul>
    </div>
</div>
<br />





<!--set of 3 pics interchanging-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/img/car1.PNG" alt="Give away materials" class="imgcar">
        </div>

        <div class="item">
            <img src="/static/img/car2.PNG" alt="Save the planet" class="imgcar">
        </div>

        <div class="item">
            <img src="/static/img/car3.PNG" alt="Save money $" class="imgcar">
        </div>
    </div>
</div>

{% endblock %}
