
<!---
   LOGIN PAGE
   -->
{% extends "layout.html" %}

{% block content %}



<!--CSS entries to get the banner img centered-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        overflow: hidden;
    }

    input {
        float: right;
        clear: both;
    }
</style>


<!-- big banner of PS logo and introduction text-->
<div class="jumbotron">
    <img src="/static/img/psbannergrey.png" alt="PaperShare" class="center">
    <br />
    <p class="lead text-center">!פייפר-שייר הוא המקום למסור חומרי לימוד או לקבל חומרי לימוד מסטודנט שסיים\מה להשתמש בהם</p>
</div>


<!--Input bar to give University email. ENTER button-->
<div class="row">
    <h2 class="text-right">התחבר\י עם כתובת מייל אוניברסיטאית</h2>
    <p class="text-right">אין צורך ברישום</p>

    <form name="login" action="." method="POST">
        <div class="form-group text-right">
            <label for="email">:כתובת מייל אוניברסיטאית </label>
            <br />
            {% if email %}
            <input type="email" class="form-control" id="email" name="email" value={{ email }} required oninvalid="this.setCustomValidity('הכנס כתובת מייל לצורך כניסה למערכת')" oninput="this.setCustomValidity('')" onchange="this.setCustomValidity('')">
            {% else %}
            <input type="email" class="form-control" id="email" name="email" placeholder="הכנס את כתובת המייל שלך כאן" required oninvalid="this.setCustomValidity('הכנס כתובת מייל לצורך כניסה למערכת')" oninput="this.setCustomValidity('')">
            {% endif %}
            {% if login_err_message %}
            <div class="alert alert-danger alert-dismissible" role="alert" dir="rtl" lang="he">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                הכניסה באמצעות כתובת מייל אוניברסיטאית בלבד!
            </div>
            {% endif %}
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> כניסה</button>
        </div>
        <br />
    </form>
</div>


<!--set of 3 pics interchanging-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/img/car1.PNG" alt="Give away materials">
        </div>

        <div class="item">
            <img src="/static/img/car2.PNG" alt="Save the planet">
        </div>

        <div class="item">
            <img src="/static/img/car3.PNG" alt="Save money $">
        </div>
    </div>
</div>


{% endblock %}