<!---
    LAYOUT PAGE
    -->


<style>
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>

<!--upper layout settings-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperShare - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" href="/static/content/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/content/bootstrap-select.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="https://kit.fontawesome.com/a5c66c8365.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon_io/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="/static/content/papershare.css" />
</head>


<body>
    <!--upper nav bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/img/psbannerblack.png" alt="PaperShare" class="center" style="width:120px;height:25px;" href="/"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if university %}
                    <li><a><span class="fas fa-school"></span> {{ university }}</a></li>
                    {% else %}
                    <li><a></a></li>
                    {% endif %}
                    {% if username %}
                    <li><a><span class="fas fa-user-graduate"></span> {{ username }}</a></li>
                    {% else %}
                    <li><a></a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('how_to') }}">
                            <span class="fas fa-question-circle"></span> איך זה עובד
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal"><span class="fas fa-phone"></span> צור קשר</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Contact sheet content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center"><b>PaperShare צוות </b></h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-right">תומר קרן</p>
                            <p class="text-right">תומר אראמא</p>
                            <p class="text-right">איתמר אייל</p>
                            <a href="mailto: papershareproject@gmail.com"><span style="color : green" class="fas fa-envelope-square fa-3x"></span></a>
                            <a href="https://github.com/tomerkeren42/PaperShare" target="_blank"><span style="color : green" class="fab fa-github-square fa-3x"></span>  </a>

                        </div>
                        <div class="col-md-4">

                                <img src="/static/img/pslogo.png" alt="airplane" class="div-ps" style="width:100px;height:100px;">

                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-ps" data-dismiss="modal"><span class="fas fa-times-circle"></span> סגור</button>
                </div>
            </div>


        </div>
    </div>

        <!--button year comment-->
        <div class="container body-content">
            {% block content %}{% endblock %}
            <hr />
            <footer>
                <p>&copy; {{ year }} - PaperShare</p>
            </footer>
        </div>

        <script src="/static/scripts/jquery-1.10.2.js"></script>
        <script src="/static/scripts/bootstrap.js"></script>
        <script src="/static/scripts/respond.js"></script>
        <script src="/static/scripts/bootstrap-select.js"></script>

        {% block scripts %}{% endblock %}

</body>
</html>
