{% extends "layout.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="jumbotron">
    <img src="/static/img/logo1backGrey.jpg" alt="PaperShare" class="center" style="width:750px;height:128px;">
    <!-- <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
    <p class="lead">PaperShare is the place for you to easily find the printed study material you need or to pass on the one you don't need.</p>
</div>

<div class="row">
    <h2>Login using your university Email address</h2>
    <p>No registration required</p>
    <form action="{{ url_for('ask') }}">
        <div class="form-group">
            <label for="email">University student Email address: (ex: myname@mail.tau.ac.il)</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="checkbox">
            <label><input type="checkbox">Remember me</label>
        </div>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Enter</button>
    </form>

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/img/car1.PNG" alt="Give away materials">
        </div>

        <div class="item">
            <img src="/static/img/car2.PNG" alt="Save the planet">
        </div>

        <div class="item">
            <img src="/static/img/car3.PNG" alt="Save money $">
        </div>
    </div>


</div>

    {% endblock %}
