<!---
    MENU PAGE
    -->
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="/static/scripts/courses_list.js"></script>
<script src="/static/scripts/courses_dropdown.js"></script>

<style>
    .btn-ps:hover,
    .btn-ps:focus,
    .btn-ps:active,
    .btn-ps.active,
    .open .dropdown-toggle.btn-ps {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #ffffff;
    }

    .btn-ps {
        color: #ffffff;
        background-color: green;
        border-color: #ffffff;
    }

    .nav-tabs {
        color: #5cb85c;
        border-bottom: 1px solid #dddddd;
    }

        .nav-tabs > li > a {
            color: green;
            cursor: default;
        }

    .nav li {
        display: table-cell !important;
    }
</style>
<br />

<!--3 tabs for actions-->

<ul class="nav nav-tabs pull-right">
    <li><a data-toggle="tab" href="#menu2">המסירות שלי</a></li>
    <li><a data-toggle="tab" href="#menu1">מסירת חומרי לימוד</a></li>
    <li><a data-toggle="tab" href="#home">חיפוש חומרי לימוד</a></li>
</ul>

<div class="tab-content">

    <!--TAB1- find materials-->

    <div id="home" class="tab-pane fade in active">
        <br /> <br />
        <div class="container">
            <div class="row">
                <h3 class="text-right">חיפוש חומרי לימוד למסירה</h3>
                <p class="text-right">כדי ליצור קשר עם המוסר, תוכל לפנות אליו במייל</p>
            </div>
            <form name="courses_dropdown" action="{{ url_for('tabs_page') }}" method="POST">
                <!--<form action="{{ url_for('tabs_page') }}">-->
                <br />
                <div class="row">
                    <div class="row pull-right">
                        <!-- an example for how i changed default error message, before switching to selectpicker :   <select class="selectpicker" data-live-search="true" data-width="auto" title="בחר פקולטה מהרשימה" name="פקולטות" id="פקולטות" required oninvalid="this.setCustomValidity('אנא בחר פקולטה מהרשימה')" onclick="this.setCustomValidity('')" dir="rtl">
                        -->
                        <select class="selectpicker" data-live-search="true" data-width="auto" title="בחר פקולטה מהרשימה" name="faculty" action="/" id="search_faculties" required oninvalid="this.setCustomValidity('אנא בחר פקולטה מהרשימה')" onchange="courses_dropdown(this);" dir="rtl">
                            <!--{% for faculty in faculties_list %}
                            <option class="text-right" value="{{faculty}}" SELECTED>{{ faculty }}</option>"
                            {% endfor %}-->
                            <option value="empty">Select a Continent</option>
                            <option value="North America">North America</option>
                            <option value="South America">South America</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                        </select>
                        <br />
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="row pull-right">
                        <select class="selectpicker" data-live-search="true" data-width="auto" title="בחר קורס מהרשימה" name="course" id="search_courses" required oninvalid="this.setCustomValidity('אנא בחר קורס מהרשימה')" onchange="this.setCustomValidity('')" dir="rtl">
                            <!--{% for course in courses_names_list %}
                                <option class="text-right" value="{{course}}" SELECTED>{{ course }}</option>"
                            {% endfor %}-->
                            <option value="0">Select a course</option>
                        </select>
                    </div>
                </div>
                <br /> <br />
                <button type="submit" class="btn btn-ps pull-right"><span class="glyphicon glyphicon-search"></span> חיפוש</button>
            </form>
            <br /> <br />
            <h4 class="text-right"> מציג חומרי לימוד למסירה עבור הקורס: "" מהפקולטה : ""</h4>
            <br />
            <div class="container">
                <table class="table table-striped table-hover text-right">
                    <thead>
                        <tr>
                            <th class="text-right">תיאור</th>
                            <th class="text-right">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> מבחנים מודפסים</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>ספר הקורס</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>סיכום שלי</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    </div>
    <br />

    <!--TAB2-give away materials-->
    <div id="menu1" class="tab-pane fade">
        <br />
        <div class="container">
            <div class="row">
                <h3 class="text-right">מצא סטודנטים למסור להם חומרי לימוד</h3>
                <p class="text-right">אחרי השליחה, תוכל\י לראות את המסירות שלך תחת המסירות שלי</p>
            </div>
            <br />
            <form action="how_to">
                <div class="row">
                    <div class="row pull-right">
                        <select class="selectpicker" data-live-search="true" data-width="auto" title="בחר פקולטה מהרשימה" name="פקולטות" id="give away faculties" required oninvalid="this.setCustomValidity('אנא בחר פקולטה מהרשימה')" onchange="this.setCustomValidity('')" dir="rtl">
                            <optgroup class="pull-right" label="מכשפים מוסמכים">
                                <option class="text-right" value="e">כשפות עתידנית</option>
                                <option class="text-right" value="a">שיקויים ומינונים</option>
                            </optgroup>
                            <optgroup class="pull-right" label="הכשפת חשמל">
                                <option class="text-right" value="b">מכונאות מטאטאים</option>
                                <option class="text-right" value="c">דיודות ודודאים</option>
                            </optgroup>
                        </select>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="row pull-right">
                        <select class="selectpicker" data-live-search="true" data-width="auto" title="בחר קורס מהרשימה" name="קורסים" id="give away courses" required oninvalid="this.setCustomValidity('אנא בחר קורס מהרשימה')" onchange="this.setCustomValidity('')" dir="rtl">
                            <optgroup class="pull-right" label="מכשפים מוסמכים">
                                <option class="text-right" value="a">כשפות עתידנית</option>
                                <option class="text-right" value="b">שיקויים ומינונים</option>
                            </optgroup>
                            <optgroup class="pull-right" label="הכשפת חשמל">
                                <option class="text-right" value="c">מכונאות מטאטאים</option>
                                <option class="text-right" value="d">דיודות ודודאים</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <p class="text-right">מה את\ה מוסר\ת? (למשל: קובץ מבחנים מודפס)</p>
                    <input class="form-control pull-right text-right input-lg col-sx-10" min="5" id="Description" required oninvalid="this.setCustomValidity('אנא תאר את חומר הלימוד אותו אתה מוסר')" oninput="this.setCustomValidity('')">
                </div>
                <div class="row">
                    <div class="checkbox pull-right">
                        <label><input type="checkbox" id="agree-terms" required oninvalid="this.setCustomValidity('אנא אשר קבלת מייל')" oninput="this.setCustomValidity('')"> אני מסכים\ה שיצרו איתי קשר במייל האוניברסיטאי בנוגע למסירת חומרי הלימוד</label>
                    </div>
                </div>
                <br /> <br />
                <button type="submit" value="1" class="btn btn-ps pull-right"><span class="glyphicon glyphicon-send"></span> שליחה</button>
            </form>
            <br />
        </div>
    </div>

    <!--TAB3-your posts-->
    <div id="menu2" class="tab-pane fade">
        <br /> <br />
        <div class="container">
            <div class="row">
                <h3 class="text-right">אלו הם חומרי הלימוד שפרסמת למסירה, ניתן להסיר אותם מהאתר בכל זמן</h3>
                <p class="text-right">.כאשר סטודנט ירצה לקבל את אחד החומרים שמסרת, הוא יצור איתך קשר במייל האוניברסיטאי שלך</p>
            </div>
            <div class="container">
                <table class="table table-striped table-hover text-right">
                    <thead>
                        <tr>
                            <th class="text-right">פקולטה</th>
                            <th class="text-right">קורס</th>
                            <th class="text-right">תיאור</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>הנדסת חשמל</td>
                            <td>חדו"א</td>
                            <td> מבחנים מודפסים</td>
                        </tr>
                        <tr>
                            <td>הנדסת חשמל</td>
                            <td>Python</td>
                            <td>סיכום</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pull-right">
                <button type="button" class="btn btn-ps pull-right" onclick="confirm('האם אתה בטוח שברצונך להסיר את הרשומה?')"><span class="glyphicon glyphicon-fire"></span> הסר מהאתר</button>
            </div>
            <br />
        </div>
    </div>
</div>



{% endblock %}