/*
PaperShare projects CSS unique classes
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Calibri, sans-serif;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 200%;
}

.jumbotron {
    background-color: #eeeeee;
}

h1,
.h1 {
    font-size: 180%;
}

h2,
.h2 {
    font-size: 160%;
}

h3,
.h3 {
    font-size: 140%;
}

h4,
.h4 {
    font-size: 120%;
}

h5,
.h5 {
    font-size: 100%;
}

h6,
.h6 {
    font-size: 80%;
}

h1 small,
.h1 small {
    font-size: 80%;
}

.form-group-lg .bootstrap-select.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.form-control .dropdown-toggle {
    height: 100%;
    font-size: 200%;
    line-height: inherit;
    border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle,
.bootstrap-select.form-control-lg .dropdown-toggle {
    font-size: 200%;
    line-height: inherit;
    border-radius: inherit;
}

selectpicker {
    text-align: right;
    font-size: 18px;
}

select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
    text-align: right;
    font-size: 18px;
}


.imgban {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.imgcar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.form-ps {
    overflow: hidden;
}

.input-ps {
    float: right;
    clear: both;
}
.alert {
    padding: 6px;
    background-color: #f15050;
    color: white;
    margin-right: 280px;
  }

.green-suc {
    color: #5cb85c;
}
.body-ps {
    padding: 50px;
}

.img-how-to {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-ps {
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

.div-ps-timed {
    width: 100px;
    height: 100px;
    animation-name: spincheck;
    animation-duration: 2500ms;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes spincheck {
    from {
        transform: rotate(0deg);
        background-image: url("/static/img/pslogo.png");
    }

    to {
        transform: rotate(360deg);
        background-image: url("/static/img/check.png");
    }
    75% {
        background-image: url("/static/img/check.png");
    }

    100% {
        background-image: url("/static/img/check.png");
    }
}

.ps-fadeout {
    animation: fadeOut ease 2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.btn-ps:hover,
.btn-ps:focus,
.btn-ps:active,
.btn-ps.active,
.open .dropdown-toggle.btn-ps {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #ffffff;
}

.dropdown-menu {
    font-size: 90%;
}

    .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 80%;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    text-align: right;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.btn-ps {
    font-size: 80%;
    color: #ffffff;
    background-color: green;
    border-color: #ffffff;
}

.btn-ps-table {
    font-size: 75%;
    color: #ffffff;
    background-color: green;
    border-color: #ffffff;
}

.nav-tabs {
    color: #5cb85c;
    border-bottom: 1px solid #dddddd;
}
.nav-tabs > li > a {
    color: green;
    cursor: default;
    font-size: 70%;

}

.imgban {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
.btn-ps:hover,
.btn-ps:focus,
.btn-ps:active,
.btn-ps.active,
.open .dropdown-toggle.btn-ps {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #ffffff;
}
    .btn-ps {
    color: #ffffff;
    background-color: green;
    border-color: #ffffff;
}
.imgcar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
    overflow: hidden;
}

input {
    float: right;
    clear: both;
}
.alert {
    padding: 6px;
    background-color: #f15050;
    color: white;
    margin-right: 280px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

    .btn-three::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.3s;
    }

    .btn-three:hover::before {
        opacity: 0;
        transform: scale(0.5,0.5);
    }

    .btn-three::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
    }

    .btn-three:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }

#footer-ps {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}


/* 
    BIRDS
*/

.bird {
    background-image: url("/static/img/plane_chain.png");
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    top: 25%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container--one {
    animation-duration: 15s;
    animation-delay: 0s;
}

.bird-container--two {
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}

@keyframes fly-right-two {
    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
}

/* END BIRDS */