/*
PaperShare projects CSS unique classes
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Calibri, sans-serif;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
}


h1,
.h1 {
    font-size: 40px;
}

h2,
.h2 {
    font-size: 34px;
}

h3,
.h3 {
    font-size: 28px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}

h1 small,
.h1 small {
    font-size: 24px;
}

.form-group-lg .bootstrap-select.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.form-control .dropdown-toggle {
    height: 100%;
    font-size: 18px;
    line-height: inherit;
    border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle,
.bootstrap-select.form-control-lg .dropdown-toggle {
    font-size: 18px;
    line-height: inherit;
    border-radius: inherit;
}

selectpicker {
    text-align: right;
    font-size: 18px;
}

select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
    text-align: right;
    font-size: 18px;
}


.imgban {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.imgcar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.form-ps {
    overflow: hidden;
}

.input-ps {
    float: right;
    clear: both;
}
.alert {
    padding: 6px;
    background-color: #f15050;
    color: white;
    margin-right: 280px;
  }

.green-suc {
    color: #5cb85c;
}
.body-ps {
    padding: 50px;
}

.img-how-to {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-ps {
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

.div-ps-timed {
    width: 100px;
    height: 100px;
    animation-name: spincheck;
    animation-duration: 1700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes spincheck {
    from {
        transform: rotate(0deg);
        background-image: url("/static/img/pslogo.png");
    }

    to {
        transform: rotate(360deg);
        background-image: url("/static/img/check.png");
    }
    75% {
        background-image: url("/static/img/check.png");
    }

    100% {
        background-image: url("/static/img/check.png");
    }
}

.ps-fadeout {
    animation: fadeOut ease 2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.btn-ps:hover,
.btn-ps:focus,
.btn-ps:active,
.btn-ps.active,
.open .dropdown-toggle.btn-ps {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #ffffff;
}

.dropdown-menu {
    font-size: 14px;
}



    .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    text-align: right;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



.btn-ps {
    font-size: 20px;
    color: #ffffff;
    background-color: green;
    border-color: #ffffff;
}

.btn-ps-table {
    font-size: 16px;
    color: #ffffff;
    background-color: green;
    border-color: #ffffff;
}

.nav-tabs {
    color: #5cb85c;
    border-bottom: 1px solid #dddddd;
}
.nav-tabs > li > a {
    color: green;
    cursor: default;

}

.imgban {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
.btn-ps:hover,
.btn-ps:focus,
.btn-ps:active,
.btn-ps.active,
.open .dropdown-toggle.btn-ps {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #ffffff;
}
    .btn-ps {
    color: #ffffff;
    background-color: green;
    border-color: #ffffff;
}
.imgcar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
    overflow: hidden;
}

input {
    float: right;
    clear: both;
}
.alert {
    padding: 6px;
    background-color: #f15050;
    color: white;
    margin-right: 280px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

    .btn-three::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.3s;
    }

    .btn-three:hover::before {
        opacity: 0;
        transform: scale(0.5,0.5);
    }

    .btn-three::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
    }

    .btn-three:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }